* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Acá están los estilos generales */

.image-container {
    display: flex;
}

.image-container img {
    width: 100%;
}

/* Acá están los estilos del header */

header {
    background: #1f1f1f;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
}

#logo {
    width: 50px;
}

#logo img {
    border-radius: 100%;
    border: 2px solid white;
}

.header-nav {
    text-align: right;
    padding-top: 3.5%;
}

.header-nav .header-list li {
    display: inline-block;
}

/* Acá estan los estilos de hero */

#hero {
    position: relative;
}

#hero #computadora {
    display: inline-block;
    width: 100%;
}

#hero .informacion-contenedor {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: flex;
    width: 100%;
    color: #fff;
    padding: 0px 30px;
}

#hero .informacion-contenedor #foto {
    width: 50%;
    height: 50%;
    max-width: 600px;
    max-height: 600px;
}

#hero .informacion-contenedor #foto img {
    border-radius: 100%;
}

#hero .informacion-contenedor .informacion {
    padding-left: 20px;
    font-size: 100%;
    font-weight: bold;
    -webkit-text-stroke: black 0.8px;
    width: calc(100% - 500px);
    min-width: 195px;
}

#hero .informacion-contenedor .informacion a {
    display: inline-block;
    color: #b5b5b5;
    margin-bottom: 70px;
}

/* EStilos del main */

main {
    padding: 48px;
}

main .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    list-style: none;
}

main .social-icons li{
    margin-left: 8px;
}

main .social-icons .social-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

main .social-icons #linkedin {
    background: #0077b0;
}

main .social-icons #github {
    background-color: #23272d;
}

main .social-icons #instagram {
    background: #e7c83b;
}

main .social-icons #instagram img{
    width: 25px;
}

main .social-icons #platzi {
    background: #121f3d;
}

main .social-icons #youtube {
    background: red;
}

main .social-icons #nostr {
    background: #17212A;
}

main .social-icons #nostr img {
    width: 25px;
}

@media (max-width: 319px) {
    header {
        padding: 10px 10px;
    }
    
    .header-nav .header-list li a{
        padding-left: 5px;
        font-size: 100%;
    }
    
    #hero .informacion-contenedor {
        padding: 10px 30px;
    }

    main .social-icons li {
        width: 36px;
    }
}

@media screen and (min-width: 320px) and (max-width: 400px) {
    header {
        padding: 10px 30px;
    }
    
    .header-nav .header-list li a{
        padding-left: 5px;
        font-size: 110%;
    }
    
    main .social-icons li {
        width: 50px;
    }
}

@media screen and (min-width: 401px) and (max-width: 781px) {
    header {
        padding: 10px 30px;
    }
    
    .header-nav {
        padding-top: 2%;
    }

    .header-nav .header-list li a{
        padding-left: 12.5px;
        font-size: 140%;
    }
    
    main .social-icons li {
        width: 50px;
    }
}

@media screen and (min-width: 782px) and (max-width: 1099px) {
    #logo {
        width: 75px;
    }

    .header-nav {
        padding-top: 1.5%;
    }

    .header-nav .header-list li a{
        padding-left: 20px;
        font-size: 200%;
    }

    #hero .informacion-contenedor .informacion {
        font-size: 130%;
    }
}

@media (min-width: 1100px) {
    #logo {
        width: 100px;
    }

    .header-nav {
        padding-top: 2%;
    }

    .header-nav .header-list li a{
        padding-left: 20px;
        font-size: 250%;
    }

    #hero .informacion-contenedor .informacion {
        font-size: 230%;
    }

    main p{
        font-size: 30px;
    }
}