* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Acá están los estilos generales */

.image-container {
    display: flex;
}

.image-container img {
    width: 100%;
}

/* Acá están los estilos del header */

header {
    background: #1f1f1f;
    padding: 10px 50px;
}

#logo {
    width: 50px;
}

#logo img {
    border-radius: 100%;
    border: 2px solid white;
}

/* Acá estan los estilos de hero */

#hero {
    position: relative;
}

#hero #computadora {
    display: inline-block;
    width: 100%;
}

#hero .informacion-contenedor {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: flex;
    width: 100%;
    color: #fff;
    padding: 0px 50px;
}

#hero .informacion-contenedor #foto {
    width: 200px;
}

#hero .informacion-contenedor #foto img {
    border-radius: 100%;
}

#hero .informacion-contenedor .informacion {
    margin-left: 20px;
    font-size: 180%;
    font-weight: bold;
    -webkit-text-stroke: black 2px;
}

#hero .informacion-contenedor .informacion a {
    display: inline-block;
    color: #b5b5b5;
    margin-bottom: 70px;
}